nav{
			padding:20px;
			ul{
				color:white;
				text-decoration: none;
				display: flex;
				font-family: parisine-plus-std-gris, sans-serif;
				justify-content: center;
				
				a{
					padding:5px;
					margin:10px;
					text-decoration: none;
					color: #fff;
				}
				a:visited{
					text-decoration: none;
					color:$gridWhite;
				}
			}
		}