
/* 0. Reset ================================= */

@import 'base/media';
@import 'base/colors';
@import 'base/fonts';




/* 1. Main Layout ================================= */
///ABOUT PAGE


section#aboutUs{
	width: 100%;
	margin: 0% auto;
	//height: 100vh;

	section#nav-top{
		position: relative;
		z-index: 999;
		width: 100%;
	
		nav{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			
			img#logo-main{
				height: 50px;
				// margin-left: 20px;
				top: 25%;
			}
		
			.hamburger-menu{
				width:50%;
				height: 50px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				position: relative;
	
				.xtra{
					align-self: center;
					opacity: 0;
					text-decoration: none;
					@media#{$tablet}{
						opacity: 1;
					}
				
				}
				h2{
					font-size: 1.2em;
					color:white;
					align-self: center;	
				}
				
				.menu_bttn{
					width:35%;
					display:flex;
					flex-direction: row;
					justify-content: space-around;
					text-decoration:none;
					@media#{$tablet}{
						width:25%;
					}
					
					.menuToggle{
						min-width:37px;
						max-width:37px;
						width: 10%;
						height: 37px;
						display:flex;
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: space-between;
						
		
						.bttn_circ{
							width:15px;
							height: 15px;
							background-color: white;
			
						}
						
					}
				}
		
				#popout-menu{
					opacity: 1;
					position: absolute;
					overflow: hidden;
					top:-140px;
					right:0;
					width:400px;
					display: none;
					
					.popout-menu_list{	
						width:100%;
						position:absolute;
						top:30%;
						left:40%;
						display: flex;
						flex-direction: column;
						z-index:99;
	
						.back-bttn{
							width:25%;
							font-size: 1.3em;
							background-color: transparent;
							@include mainText();
							border: 0;
							position: relative;
							top:-20px;
							left:100px;
	
						}
	
						.back-bttn:hover{
							cursor: hand;
						}
	
						a{
							text-decoration: none;
							width: 150px;
							padding:2%;
							margin:4%;
							background-color: $strawPurple;
							
							li{
								text-align: center;
								@include menuText();
							}
						}
					}
					#popout-menu_bg{
						//width: 100%;
						position: relative;
						z-index: 1;
	
						#circle_yellow{
							width:150%;
						}
						.allBlobImgs{
							visibility: hidden;
						}
					}
				}
				
			} 
	
		}
	}

	.sectionTitle{
		width:95%;
		margin:0 auto;
		
		.back-nav{
			margin-top:2%;
			width:95%;			
			display: flex;
			justify-content: space-between;
			align-items: baseline;

			.bck_bttn{
				position: relative;
				display:flex;
				border-top:2px solid white;
				padding-top:10%;
				span{
					position: absolute;
					top:-10px;
					left:-4px;
				}
			}

			.nav-cta{
				border-top:2px solid white;
				padding-top:1%;
			}
		}

		.pageTitle{
			h1{
				color:$gridWhite;
				@include mainText();
				font-size:3em;
				margin:3% 0;
		
				@media#{$tablet}{
					text-align: center;
					width: 100%;
				 }
		
			}
		}
	
		
	}
	
	.talkingPoints{ 
		width:80%;
		max-width: 500px;
		margin:2%;
		padding:2%;
		//margin:0 auto;
		display: flex;
		flex-direction: column;
		 
		@media#{$tablet}{
			margin-top:-8%;
		}
		.Point{
			width:100%;
			display: flex;
			flex-direction: column;
			margin-bottom:5%;

			@media#{$tablet}{
		    margin: 5%;
		 }
			
	
			.tp_number{
				width:30%;
				border-bottom: 2px solid white;
				h1{
					font-size:4em;
					color:$gridWhite;
					@include outlineTextnum();
				}
			}
		
			.tp_text{
				width:100%;
				margin-top:4%;
				color:$gridWhite;
				
			}
		}
	
	}
}

section#diagram{
	width: 99%;
	height: 120vh;
	margin:0 auto;
	background-image: url("../img/circle_b.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;

	.sectionTitle{
		width:95%;
		margin:0% auto;

		.pageTitle{
			width:100%;
			h1{
				color:$gridWhite;
				@include mainText();
				font-size:2.5em;
				margin:3% 0;
				position: relative;
				top:75px;
		
				@media#{$tablet}{
					width: 100%;
				 }
		
			}
		}
	
	}


	.diagramWrapper{
		position:absolute;
		top:35%;
		width:100%;
		
		margin: 0 auto;
		@media#{$tablet}{
			width:100%;
		}
		@media#{$desktop}{
			width:100%;
			//top:20%;
		}
		.wrapStraws{
			display:flex;
			flex-direction: row;
			width:60%;
			max-width: 400px;
			margin:0 auto;
			@media#{$tablet}{
				width:100%;
			}
			
			.straw{
				width:20%;
				margin: 0 auto;
				position: relative;
				
				.strawHover{
					display:block;
					width:75px;
					height:75px;
					//background-color: rgba(255, 255, 0,.5);
					position: absolute;

					@media#{$tablet}{
						display:none;
					}

					.hoverTxt{
						font-size:60%;
						text-align: center;
						color:white;
						position: relative;
						z-index: 999;
						@include mainText();
					}

					.txt_1{
						top:112px;
						left:-60px;
						@media#{$tablet}{
							font-size:85%;					
							top:130px;
							left:-47px;				
						}
					}

					.txt_2{
						top:-55px;
						right:35px;
						@media#{$tablet}{
							font-size:85%;					
							top:-45px;
							right:35px;				
						}
					}


					.txt_3{
						top:-80px;
						right:10px;
						@media#{$tablet}{
							font-size:80%;					
							top:-95px;
							right:2px;				
						}
					}

					.txt_4{
						bottom:-140px;
						left:60px;
						@media#{$tablet}{
							font-size:80%;					
							bottom:-157px;
							left:82px;				
						}
					}

					.hvrImg{
						position: relative;
					
					}
					.hvr_1{
						top:50px;
						left:-50px;
						@media#{$tablet}{
							width:120%;
							top:60px;
							left:-40px;
						}
						
					}
					.hvr_2{
						top:-90px;
						left:-25px;
						@media#{$tablet}{
							width:90%;
							left:-30px;
						}
					}
					.hvr_3{
						top:-115px;
						@media#{$tablet}{
							top:-140px;
							left:2px;
							width:90%;
						}
					}
					.hvr_4{
						top:90px;
						right:-30px;
						@media#{$tablet}{
							width:150%;
							top:100px;
							right:-40px;
						}
					}
				}

				.strawImg{
					display: block;
					margin: 0 auto;
					width: auto;
						
				}

				.img_1{
					width: 100%;
					@media#{$tablet}{
						max-width:70%;
					}
				}

				.img_2{
					width: 20%;
					max-width:15%;

				}

				.img_3{
					width: 45%;
					max-width:30%;

				}

				.img_4{
					width: 35%;
					max-width:22%;

				}
			}


			@media#{$tablet}{

				.straw_one:hover{
					position: relative;
					.strawHover{
						display: block;
						position: absolute;
					//	left:-15%;
					}
				}
	
				.straw_two:hover{
					position: relative;
					.strawHover{
						display: block;
						position: absolute;
						//top:-15%;
					}
				}
	
				.straw_three:hover{
					position: relative;
					.strawHover{
						display: block;
						position: absolute;
						//top:-15%;
					}
				}
	
				.straw_four:hover{
					position: relative;
					.strawHover{
						display: block;
						position: absolute;
						//right:-15%;
					}
				}
			}
		}
	}
}




