$gridLink: #23A2BF;
$gridHeading: #173C5C;
$gridBody: #465461;
$gridGold: rgb(236, 222, 75);
$gridRed: #D72E2D;
$gridOrange: #F5821f;
$gridMint: rgb(65, 194, 117);
$gridGray: rgb(228, 230, 230);
$gridSetting:rgb(157, 157, 157);

$gridLinkTint: rgba(35, 162, 191,0.45);
$gridHeadingTint: rgba(22, 59, 91,.5);
$gridBodyTint: rgba(68, 82, 96,.4);
$gridGoldTint: rgba(236, 168, 75,.4);
$gridRedTint: rgba(215, 46, 45,.4);
$gridOrangeTint: rgba(244, 129, 29,.4);
$gridMintTint: rgba(65, 194, 117,.4);
$gridGrayTint: rgba(245, 247, 247,.4);

$gridBlack: #09141e;
$gridWhite:#FFFFFF;