$fontNun: 'Nunito Sans', sans-serif; //in place of AvenirLTPro-Heavy
$fontOpen: 'Open Sans', sans-serif; //in place of AvenirLTPro-Roman

$parsine: parisine-plus-std-gris, sans-serif;
$gothic: hwt-republic-gothic-outline, sans-serif;
