/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'base/media';
@import 'base/colors';
@import 'base/fonts';
@import 'base/_mixins';
@import 'base/_about';
@import 'base/_gallery';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

html{
	width:100%;
	
}

body {

	min-width:350px;
	background: $gridRed;
	background-image: url("../img/circle_g.svg");
	background-repeat: no-repeat;
	background-size: 90%;
	background-position-x:300%; 
	background-position-y:-15%; 
	@include mainText();

	@media#{$tablet}{
		background-size: 85%;
		background-position-y:-40%; 
	}

	@media#{$desktop}{
		background-size: 85%;
		background-position-x:225%;
	}

}

/* 2. Content ================================= */

section#nav-top{
	position: relative;
	z-index: 999;
	width: 100%;

	nav{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		
		img#logo-main{
			height: 50px;
			// margin-left: 20px;
			top: 25%;
		}
	
		.hamburger-menu{
			width:50%;
			height: 50px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			position: relative;

			.xtra{
				align-self: center;
				opacity: 0;
				text-decoration: none;

				@media#{$tablet}{
					opacity: 1;
				}
			
			}
			h2{
				font-size: 1.2em;
				color:white;
				align-self: center;	
			}
			
			.menu_bttn{
				width:35%;
				display:flex;
				flex-direction: row;
				justify-content: space-around;
				text-decoration:none;
				@media#{$tablet}{
					width:25%;
				}
				
				.menuToggle{
					min-width:37px;
					max-width:37px;
					width: 10%;
					height: 37px;
					display:flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-between;
					
	
					.bttn_circ{
						width:15px;
						height: 15px;
						background-color: white;
		
					}
					
				}
			}
	
			#popout-menu{
				opacity: 1;
				position: absolute;
				overflow: hidden;
				top:-140px;
				right:0;
				width:400px;
				display: none;
				
				.popout-menu_list{	
					width:100%;
					position:absolute;
					top:30%;
					left:40%;
					display: flex;
					flex-direction: column;
					z-index:99;

					.back-bttn{
						width:25%;
						font-size: 1.3em;
						background-color: transparent;
						@include mainText();
						border: 0;
						position: relative;
						top:-20px;
						left:100px;

					}

					.back-bttn:hover{
						cursor: hand;
					}

					a{
						text-decoration: none;
						width: 150px;
						padding:2%;
						margin:4%;
						background-color: $strawPurple;
						
						li{
							text-align: center;
							@include menuText();
						}
					}
				}
				#popout-menu_bg{
					//width: 100%;
					position: relative;
					z-index: 1;

					#circle_yellow{
						width:150%;
					}
					.allBlobImgs{
						visibility: hidden;
					}
				}
			}
			
		} 

	}
}


section#hero{
	position: relative;
	width:100%;
	height: 100vh;
	max-width:475px;
	margin: 0 auto;
	margin-bottom: 20%;
	@media#{$tablet}{
		max-width: 90%;
		//min-height: 100vh;
	}
	@media#{$desktop}{
		max-width: 90%;
		//min-height: 100vh;
	}

	.hero-desc-section{
		width:95%;
		margin:0 auto;
		display: flex;
		flex-direction: column;
		@media#{$desktop}{
			width:98%;
			flex-direction: row;
			max-width: 900px;
		}

		.hero-title{
			@media#{$desktop}{
				width:100%;
				max-width: 400px;
				align-self: center;
			}
			h1{
				@include outlineText();
				font-size: 4.5em;
				@media#{$tablet}{
					font-size: 5.4em;
				}
			}
			p{
				line-height: 1.3em;
				width: 75%;
				@media#{$tablet}{
					width:55%;
				}
				@media#{$desktop}{
					width:90%;
					font-size:.78em;
				}
			}
	
			.jmp_2{
				display: none;
				@media#{$desktop}{
					display:flex;
					justify-content: space-between;
					width:92%;
					

					button{
						width:100px;
						height: 30px;
						padding:1%;
						color:white;
						background-color: transparent;
						border: 2px solid white;

					}
				}
			}
		}
		.hero-cta{
			width: 100%;
			display: flex;
			flex-direction: column;
			position: absolute;

			@media#{$tablet}{
				right:0;
			}
			@media#{$desktop}{
				position: relative;
				right:90px;
				.jmp_1{
					display:none;
				}
			}
			.hero-section_top{
				width:100%;
				display: flex;
				flex-direction: row;
				@media#{$tablet}{
					justify-content: center;
				}
				@media#{$desktop}{
					flex-direction: row-reverse;
				}
				.hero-desc-text{
					width: 50%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					@media#{$tablet}{
						width:25%;
					}
					@media#{$desktop}{
						width:30%;
					}

					.hero-text{
						position: relative;
						border-top: 2px solid white;
						padding:2%;
						font-size: .9em;
					}
				}
		
				.hero-desc-img{
					
					width:60%;
					position: relative;
					right:50px;

					@media#{$tablet}{
						width:35%;
						right:0px;
					}
					@media#{$desktop}{
						width:62%;
						max-width: 62%;
					}
					img.hero-img{
						width: 100%;
						display: flex;
						flex-flow: row nowrap;
  						align-items: center;

						
					}
				}
			}
		}

		.jump-buttons{
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			margin-top:10px;
			width: 100%;

			@media#{$tablet}{
				justify-content: space-around;

			}
			button{
				width:30%;
				padding:1%;
				color:white;
				background-color: transparent;
				border: 2px solid white;
				
				@media#{$tablet}{
					width:15%;
				}
			}

		}
	}
	
}

section#parallax{
	width:100%;
	height: 100vh;

	.para-wrapper{
		min-width: 360px;
		width:100%;
		height: auto;
		//background-color: purple;
		display: flex;
		flex-direction: column;

		height: 100vh;
		//overflow-x: hidden;
		//overflow-y: auto;
		perspective: 3px;
		@media#{$tablet}{
			perspective: 6px;
		}

		.wrap_product{
			width:100%;
			position: relative;
			padding:5%;
			margin-top:5%;

			@media#{$tablet}{
				display: flex;
				flex-direction: row;
			}
			.product_imgs{
				width:75%;
				position: relative;
				@media#{$tablet}{
					width: 50%;
				}
				
				.straw-img{
					width:100%;
					position: relative;
					top:0;
					left:0;
					height: auto;	
					z-index: 99;

					img{
						width:100%;
					}
					@media#{$tablet}{
						width: 80%;
					}
				}

				.circ-img{		
					 position: relative;
					height: auto;					
					.circleSVGs{
						width:120%;
						position: absolute;
						top:-145px;
						left:0px;
						@media#{$tablet}{
							width:100%;
							left:-100px;
						}
	
					}
					

					.allBlobImgs{
					visibility: hidden;
					}

				}

			}

			
	
			.product_text{
				width:100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: relative;
				z-index: 99;

				@media#{$tablet}{
					width: 50%;
				}
				.text{
					width: 92%;
					margin:1%;
					padding:3%;
					
				}

				.prod_title{
					font-size: 1.5em;
					width:51%;
					padding-top:5%;
					border-top:2px solid white;
				}

				.prod_cta{
					font-size: 4em;
					font-weight: 700;
				}
				.prod_desc{
					max-width: 340px;
				}
			}
		
		}
		// .bg1::after{
		// 	background-image:url("/dist/img/circle_p.svg");
		// }

		// .bg2::after{
		// 	background-image:url("/dist/img/circle_y.png");
		// }

		// .bg3::after{
		// 	background-image:url("/dist/img/circle_b.png");
		// }

		.parallax::after{
			content:" ";
			position: absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			//transform: translateZ(-1px) scale(1.5);
			background-attachment: fixed;
			background-size:100%;
			background-position:center;
			background-position-y:100%;
			background-repeat: no-repeat;
			z-index:-1;

			@media#{$tablet}{
				background-size: 56%;
				background-position-x: -20%;
			}
		}

	}

}



