/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'base/media';
@import 'base/colors';
@import 'base/fonts';
@import 'base/_mixins';
@import 'base/_about';
@import 'base/_gallery';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

html{
	width:100%;
	
}

body {

	min-width:350px;
	background: $gridRed;
	background-image: url("/dist/img/circle_g.svg");
	background-repeat: no-repeat;
	background-size: 90%;
	background-position-x:300%; 
	background-position-y:-15%; 
	@include mainText();

	@media#{$tablet}{
		background-size: 85%;
		background-position-y:-40%; 
	}

	@media#{$desktop}{
		background-size: 85%;
		background-position-x:225%;
	}

}

/* 2. Content ================================= */

section#nav-top{
	position: relative;
	z-index: 999;
	width: 100%;

	nav{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		
		img#logo-main{
			height: 50px;
			// margin-left: 20px;
			top: 25%;
		}
	
		.hamburger-menu{
		
			height: 50px;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			position: relative;
			
			.menu_bttn{
				display:flex;
				flex-direction: row;
				justify-content: space-around;
				text-decoration:none;
				h2{
					font-size: 1.2em;
					color:white;
					align-self: center;	
					
				}
				
				.menuToggle{
					width: 28%;
					height: 37px;
					display:flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-between;
					
	
					.bttn_circ{
						width:15px;
						height: 15px;
						background-color: white;
		
					}
					
				}
			}
	
			#popout-menu{
				opacity: 1;
				position: absolute;
				overflow: hidden;
				top:-140px;
				right:0;
				width:400px;
				display: none;
				
				.popout-menu_list{	
					width:100%;
					position:absolute;
					top:30%;
					left:40%;
					display: flex;
					flex-direction: column;
					z-index:99;

					.back-bttn{
						width:25%;
						font-size: 1.3em;
						background-color: transparent;
						@include mainText();
						border: 0;
						position: relative;
						top:-20px;
						left:100px;

					}

					.back-bttn:hover{
						cursor: hand;
					}

					a{
						text-decoration: none;
						width: 150px;
						padding:2%;
						margin:4%;
						background-color: $strawPurple;
						
						li{
							text-align: center;
							@include menuText();
						}
					}
				}
				#popout-menu_bg{
					//width: 100%;
					position: relative;
					z-index: 1;

					#circle_yellow{
						width:150%;
					}
					.allBlobImgs{
						visibility: hidden;
					}
				}
			}
			
		} 

	}
}


section#hero{
	position: relative;
	width:100%;
	height: 100vh;
	max-width:475px;
	margin: 0 auto;
	margin-bottom: 20%;
	@media#{$tablet}{
		max-width: 90%;
		//min-height: 100vh;
	}
	@media#{$desktop}{
		max-width: 90%;
		//min-height: 100vh;
	}

	.hero-desc-section{
		width:95%;
		margin:0 auto;
		display: flex;
		flex-direction: column;
		@media#{$desktop}{
			width:98%;
			flex-direction: row;
			max-width: 900px;
		}

		.hero-title{
			@media#{$desktop}{
				width:100%;
				max-width: 400px;
				align-self: center;
			}
			h1{
				@include outlineText();
				font-size: 4.5em;
				@media#{$tablet}{
					font-size: 5.4em;
				}
			}
			p{
				line-height: 1.3em;
				width: 75%;
				@media#{$tablet}{
					width:55%;
				}
				@media#{$desktop}{
					width:90%;
					font-size:.78em;
				}
			}
	
			.jmp_2{
				display: none;
				@media#{$desktop}{
					display:flex;
					justify-content: space-between;
					width:92%;
					

					button{
						width:100px;
						height: 30px;
						padding:1%;
						color:white;
						background-color: transparent;
						border: 2px solid white;

					}
				}
			}
		}
		.hero-cta{
			width: 100%;
			display: flex;
			flex-direction: column;
			position: absolute;

			@media#{$tablet}{
				right:0;
			}
			@media#{$desktop}{
				position: relative;
				right:90px;
				.jmp_1{
					display:none;
				}
			}
			.hero-section_top{
				width:100%;
				display: flex;
				flex-direction: row;
				@media#{$tablet}{
					justify-content: center;
				}
				@media#{$desktop}{
					flex-direction: row-reverse;
				}
				.hero-desc-text{
					width: 50%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					@media#{$tablet}{
						width:25%;
					}
					@media#{$desktop}{
						width:30%;
					}

					.hero-text{
						position: relative;
						border-top: 2px solid white;
						padding:2%;
						font-size: .9em;
					}
				}
		
				.hero-desc-img{
					
					width:60%;
					position: relative;
					right:50px;

					@media#{$tablet}{
						width:35%;
						right:0px;
					}
					@media#{$desktop}{
						width:62%;
						max-width: 62%;
					}
					img.hero-img{
						width: 100%;
						display: flex;
						flex-flow: row nowrap;
  						align-items: center;

						
					}
				}
			}
		}

		.jump-buttons{
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			margin-top:10px;
			width: 100%;

			@media#{$tablet}{
				justify-content: space-around;

			}
			button{
				width:30%;
				padding:1%;
				color:white;
				background-color: transparent;
				border: 2px solid white;
				
				@media#{$tablet}{
					width:15%;
				}
			}

		}
	}
	
}

section#parallax{
	width:100%;
	height: 100vh;

	.para-wrapper{
		min-width: 360px;
		width:100%;
		height: auto;
		//background-color: purple;
		display: flex;
		flex-direction: column;

		height: 100vh;
		//overflow-x: hidden;
		//overflow-y: auto;
		perspective: 3px;
		@media#{$tablet}{
			perspective: 6px;
		}

		.wrap_product{
			width:100%;
			position: relative;
			padding:5%;
			margin-top:5%;

			@media#{$tablet}{
				display: flex;
				flex-direction: row;
			}
			.product_imgs{
				width:75%;
				position: relative;
				@media#{$tablet}{
					width: 50%;
				}
				
				.straw-img{
					width:100%;
					position: relative;
					top:0;
					left:0;
					height: auto;	
					z-index: 99;

					img{
						width:100%;
					}
					@media#{$tablet}{
						width: 80%;
					}
				}

				.circ-img{		
					 position: relative;
					height: auto;					
					.circleSVGs{
						width:120%;
						position: absolute;
						top:-145px;
						left:0px;
						@media#{$tablet}{
							width:100%;
							left:-100px;
						}
	
					}
					

					.allBlobImgs{
					visibility: hidden;
					}

				}

			}

			
	
			.product_text{
				width:100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: relative;
				z-index: 99;

				@media#{$tablet}{
					width: 50%;
				}
				.text{
					width: 92%;
					margin:1%;
					padding:3%;
					
				}

				.prod_title{
					font-size: 1.5em;
					width:51%;
					padding-top:5%;
					border-top:2px solid white;
				}

				.prod_cta{
					font-size: 4em;
					font-weight: 700;
				}
				.prod_desc{
					max-width: 340px;
				}
			}
		
		}
		// .bg1::after{
		// 	background-image:url("/dist/img/circle_p.svg");
		// }

		// .bg2::after{
		// 	background-image:url("/dist/img/circle_y.png");
		// }

		// .bg3::after{
		// 	background-image:url("/dist/img/circle_b.png");
		// }

		.parallax::after{
			content:" ";
			position: absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			//transform: translateZ(-1px) scale(1.5);
			background-attachment: fixed;
			background-size:100%;
			background-position:center;
			background-position-y:100%;
			background-repeat: no-repeat;
			z-index:-1;

			@media#{$tablet}{
				background-size: 56%;
				background-position-x: -20%;
			}
		}

	}

}



///ABOUT PAGE

.sectionTitle{
	width:90%;
	color:$gridWhite;
	@include outlineText();

	h1{
		font-size:3em;
		margin-bottom:10%;

		@media#{$tablet}{
		    text-align: center;
		    width: 100%;
		 }

	}
}
section#aboutUs{
	width: 95%;
	margin: 0% auto;
	height: 100vh;
	
	.talkingPoints{ 
		width:80%;
		max-width: 500px;
		margin:2%;
		padding:2%;
		//margin:0 auto;
		display: flex;
		flex-direction: column;
		 
		 @media#{$tablet}{ //take off width and max-width so they sit nicely in a row
		    flex-direction: row;
		 }
		
		.Point{
			width:100%;
			display: flex;
			flex-direction: column;
			margin-bottom:5%;

			@media#{$tablet}{
		    margin: 3%;
		 }
			
	
			.tp_number{
				width:30%;
				border-bottom: 2px solid white;
				h1{
					font-size:3em;
					color:$gridWhite;
					@include outlineText();
				}
			}
		
			.tp_text{
				width:100%;
				margin-top:4%;
				color:$gridWhite;
				
			}
		}
	
	}
}

section#diagram{
	width: 95%;
	height: 100vh;
	margin:0 auto;
	background-image: url("/dist/img/circle_b.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: relative;
	.diagramWrapper{
		position:absolute;
		top:35%;
		width:100%;
		
		margin: 0 auto;
		@media#{$tablet}{
			width:100%;
			top:25%;
		}
		@media#{$desktop}{
			width:100%;
			//top:20%;
		}
		.wrapStraws{
			display:flex;
			flex-direction: row;
			width:60%;
			max-width: 400px;
			margin:0 auto;
			@media#{$tablet}{
				width:100%;
			}
			
			.straw{
				width:20%;
				margin: 0 auto;
				position: relative;
				
				.strawHover{
					display:block;
					width:75px;
					height:75px;
					//background-color: rgba(255, 255, 0,.5);
					position: absolute;

					@media#{$tablet}{
						display:none;
					}

					.hoverTxt{
						font-size:70%;
						text-align: center;
						color:white;
						position: relative;
						z-index: 999;
					}

					.txt_1{
						top:112px;
						left:-60px;
					}

					.txt_2{
						top:-55px;
						right:50px;
					}


					.txt_3{
						top:-80px;
						right:20px;
					}

					.txt_4{
						bottom:-140px;
						left:50px;
					}

					.hvrImg{
						position: relative;
					
					}
					.hvr_1{
						top:50px;
						left:-50px;
						@media#{$tablet}{
							width:120%;
							top:60px;
							left:-40px;
						}
						
					}
					.hvr_2{
						top:-90px;
						left:-25px;
						@media#{$tablet}{
							width:90%;
							left:-30px;
						}
					}
					.hvr_3{
						top:-115px;
						@media#{$tablet}{
							top:-140px;
							left:2px;
							width:90%;
						}
					}
					.hvr_4{
						top:90px;
						right:-30px;
						@media#{$tablet}{
							width:150%;
							top:100px;
							right:-40px;
						}
					}
				}

				.strawImg{
					display: block;
					margin: 0 auto;
					width: auto;	
				}

				.img_1{
					width:auto;
					@media#{$tablet}{
						max-width:100%;
					}
				}

				.img_2{
					max-width:26.5%;
					
					@media#{$tablet}{
						max-width:19%;
					}
				}

				.img_3{
					max-width:57%;
					@media#{$tablet}{
						max-width:40%;
					}
				}

				.img_4{
					max-width:43.5%;
					@media#{$tablet}{
						max-width:30%;
					}
				}
			}


			@media#{$tablet}{

				.straw_one:hover{
					position: relative;
					.strawHover{
						display: block;
						position: absolute;
					//	left:-15%;
					}
				}
	
				.straw_two:hover{
					position: relative;
					.strawHover{
						display: block;
						position: absolute;
						//top:-15%;
					}
				}
	
				.straw_three:hover{
					position: relative;
					.strawHover{
						display: block;
						position: absolute;
						//top:-15%;
					}
				}
	
				.straw_four:hover{
					position: relative;
					.strawHover{
						display: block;
						position: absolute;
						//right:-15%;
					}
				}
			}
		}
	}
}




